*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right,rgb(2, 2, 24),navy);
    font-family: sans-serif;
    
}
img{
    width: 30px;
}
.left{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(113, 170, 219);
    padding: 20px;
    width: 50%;
}
.left h1{
    font-size: 3rem;
}
.left p{
    margin: 20px 0 ;
    font-size: 1.2rem;
}
.left nav a {
    margin: 0 20px;
}
.right{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.right #about{
    color: rgb(127, 182, 255);
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: 1.2rem;
}
.right h2{
    background-color: rgb(127, 197, 255);
    color: navy;
    width: fit-content;
    padding: 5px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    
}
.right #projects{
    color: aquamarine;
    margin: 0 0 10px 0;
    padding: 10px;
    color: rgb(127, 182, 255);
}
.right #projects> p:first-of-type{

    font-size: 1.2rem;
    margin: 10px 0;
}
ul li{
    background-color: rgb(64, 142, 243);
    margin: 0 0 10px 0;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
}
ul li a{
    font-size: 1.1rem;
}
ul li p{
    font-size: 1rem;
    color: navy;
}