*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: sans-serif;
    
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

}

header p{
    font-size: 1.5rem;
}
nav{
    font-size: 1rem;
}
nav a{
    text-decoration: none;
    margin: 0 10px 0 0 ;
}
nav button{
    padding: 5px;
    font-size: 1rem;
}
main{
    width: 100%;
}
main .boldtext{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
    background-image: url("../../background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.2rem 0;
    color: white;
    font-weight: 900;
    font-size: 2rem;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.boxes .dev{
    display: flex;
    flex-direction: column;
    
    margin: 10px 0;
}
.boxes .dev>p{
    font-size: 2rem;
    margin: 0 0 5px 10px;
    background-color: white;
}

.boxes .dev .inneritems {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxes .dev .inneritems div{
    font-size: 1.4rem;
    margin: 0 0 10px 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 0 0;
    height: fit-content;
    width: 300px
}
.boxes .dev .inneritems div button{
    font-size: 1.2rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

form{
    font-size: 1.5rem;
    margin: 20px 0;
}
form input{
    margin: 10px 0;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
}

@media (max-width:479px) {

    nav{
        display: none;

    }
    
    header p::after{
        content: url("../../viewmore.png");
        position: absolute;
        right: 20px;
    }

    
}