*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

}
.container-up{
    display: flex;
    justify-content: center;
}
table{
    width: 400px;
    background-color: rgb(236, 235, 235);
}
th{
    font-size: 1rem;
    color: red;
    padding: 5px;
}
td{
    border-bottom: 1px solid;
    padding: 5px;
}
div#intro{
   
}
div#intro p:first-of-type{   
    padding: 5px;
    margin: 20px 0;
    font-size: 1.5rem;
}
div#intro p:last-of-type{
    color: red;
}
div#intro p{
    font-size: 1.1rem;
    margin: 2px 0;
}
.container-down{
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    text-align: center;
}
.query{
    padding: 20px;
}
.query input{
    padding: 10px;
    font-size: 1.1rem;
    width: 400px;
    border-radius: 10px;
}
.query p{
    margin: 0 380px 10px 0;
    font-size: 1.2rem;
}
.query button{
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
}




